extends layout

block content
  div.left-content
    div.title
      h1  Pokemon Battle Simulator
    div.use
      p To use the service, you have to make a POST request to the following endpoint:
      ul
        li #{server_name}arena/simulate 
      p The API has to receive a #[strong Content-Type application/json]  request with a 'result' parameter, for example:
      ul
        li {"results":["Squirtle", "Bulbasaur", "Charmander", "Caterpie", "Pidgey"]} 
      p The API will return a #[strong Content-Type application/json] response containing an 'answer', like this:  
        ul
          li {"answer": 145}
      p The answer can contain the following messages:
        ul
          li 'The Team Rocket has done again..the results are corrupted!', this means the battle results sent are not valid, usually because a pokemon exceeds the allowed battles.App
          li 'Some Pokemon were not found or there are repeated Pokemon.', self-explanatory.
          li A number, which are the minimum movements required to go from the initial state to the final results.
  div.right-content
  div.author
    p This project was made by David Martínez Valdés
